<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        ><ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon
      ></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "calender" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <pinch-zoom backgroundColor="rgba(0,0,0,0)" style="height: 100% !important">
    <div style="height: 100% !important; width: 100%">
      <ion-header collapse="condense" class="mt-4" *ngIf="ios">
        <ion-toolbar class="p-0">
          <ion-buttons slot="start">
            <ion-menu-button
              ><ion-icon
                class="text-white"
                [ios]="'menu-sharp'"
                [md]="'menu-sharp'"
              ></ion-icon
            ></ion-menu-button>
          </ion-buttons>
          <ion-title>{{ "calender" | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-card class="card-cls">
        <ion-card-content>
          <div
            class="calendar-body"
            style="border-bottom: 2px solid rgb(235, 232, 232)"
          >
            <ngx-event-calendar
              [dataSource]="dataArray"
              (dayEvents)="selectDay($event)"
            >
            </ngx-event-calendar>
          </div>
        </ion-card-content>
      </ion-card>

      <div class="event">
        <ion-card *ngIf="events.length == 0">
          <ion-card-header>No Events</ion-card-header>
        </ion-card>
        <ion-card class="card-cls" *ngFor="let e of events">
          <ion-card-content>
            <img class="card-img-top" src="{{ e.calenderImage }}" alt="" />
            <div class="calendar-body text-center">
              <div class="fon18">
                {{ e.startDate | date : "dd/MM/yyyy" }} -
                {{ e.endDate | date : "dd/MM/yyyy" }}
              </div>

              <div class="titlewidth">{{ e.title }}</div>
              <!-- <div class="clrflt">{{image.Discription}}</div> -->
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <!-- <div class="card m-3 shadow-lg" *ngFor="let e of events;">
      <div class="card-body card_body">
        <div class="calendar-body">
          <h2>Date: </h2>
          {{e.title}}
        </div></div></div> -->
    </div>
  </pinch-zoom>
</ion-content>
