<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "circulars" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" routerLink="/dashboard" lines="none" detail="false"
        routerLinkActive="selected">
        <ion-icon name="grid" style="height: 24px; width: 24px"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <pinch-zoom backgroundColor="rgba(0,0,0,0)"> -->
  <div style="height: 100%; width: 100%">
    <div class="circulars">
      <ion-card class="borbot" *ngFor="let smsData of storeSMSDetails">
        <ion-card-content>
          <div style="display: flex; align-items: center; justify-content: space-between; margin: 5px;">
            <span style="display: flex; align-items: center;">
              <img style="border: 1px solid rgb(233, 233, 233); border-radius: 20px; width: 25px; height: 25px;"
                [src]="studentProfile == null || studentProfile == undefined || studentProfile == '' ? '../../assets/imgs/student.png' : studentProfile"
                alt="profImg" />
              <span style="color: #5886FE; margin-left: 5px;">{{ smsData.STUDENTNAME }} ({{ smsData.CLASSSEC }})</span>
            </span>
            <span style="margin-right: 5px;">{{ smsData.SMSdate | slice: 0 : 6 }}</span>
          </div>
          <div style="margin: 5px;">
            <!-- <div style="width: 100px; float: left; height: 60px; margin: 5px;" -->
            <div style="margin: 5px;" (click)="setOpen(true, smsData.event_image, 'img')"
              *ngIf="checkimage(smsData.event_image)">
              <!-- <img [src]="smsData.event_image" alt="evt_img" style="width: 100px; height: 60px;"> -->
              <img [src]="smsData.event_image" alt="evt_img">
            </div>
            <div *ngIf="checkmp3(smsData.event_image)">
              <audio controls controlsList="noplaybackrate nodownload" style="width: 100%; border-radius: 20px;">
                <source src="{{ smsData.base64 }}" type="audio/mpeg"
                  *ngIf="smsData.base64 != undefined && smsData.base64.length > 0" />
                <source src="{{ smsData.event_image }}" type="audio/mpeg"
                  *ngIf="smsData.base64 != undefined && smsData.base64.length === 0" />
              </audio>
            </div>
            <div *ngIf="checkmp4(smsData.event_image)" (click)="setOpen(true, smsData.event_image, 'video')"
              style="width: 100px; float: left; height: 60px; margin: 5px; border: 1px solid #ededed; border-radius: 20px;">
              <div><ion-icon name="play"
                  style="width: 50%; height: 40px; margin-left: 25px; margin-top: 10px;"></ion-icon></div>
            </div>
            <div class="card-header" *ngIf="checkpdf(smsData.event_image)">
              <div style="width: 40px; float: left; height: 40px; margin: 5px; padding-left: 5px;"
                (click)="authservice.open(smsData.event_image)">
                <img class="w-50 m-auto" src="../../assets/imgs/speakers/spdf.png" />
              </div>
            </div>
            <div class="card-header" *ngIf="checkxls(smsData.event_image)">
              <div style="width: 40px; float: left; height: 40px; margin: 5px; padding-left: 5px;"
                (click)="authservice.open(smsData.event_image)">
                <img class="w-50 m-auto" src="../../assets/imgs/Icons_new/Microsoft Excel.png" />
              </div>
            </div>

            <div class="card-header" *ngIf="checkdoc(smsData.event_image)">
              <div style="width: 40px; float: left; height: 40px; margin: 5px; padding-left: 5px;"
                (click)="authservice.open(smsData.event_image)">
                <img class="w-50 m-auto" src="../../assets/imgs/Icons_new/DOC.png" />
              </div>
            </div>

            <div class="card-header" *ngIf="checkdocx(smsData.event_image)">
              <div style="width: 40px; float: left; height: 40px; margin: 5px; padding-left: 5px;"
                (click)="authservice.open(smsData.event_image)">
                <img class="w-50 m-auto" src="../../assets/imgs/Icons_new/DOC.png" />
              </div>
            </div>


            <div>
              <pre [innerHTML]="authservice.linksAndMails(smsData.Message)"></pre>
              <a *ngIf="smsData.link != undefined" [href]="smsData.link">{{
                smsData.link }}</a>
            </div>
          </div>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false, 't', '')">Close</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <div *ngIf="type == 'img'">
                  <pinch-zoom backgroundColor="rgba(0,0,0,0)">
                    <div>
                      <img class="card-img-top w-100" src="{{ this.modalImage }}" alt="" />
                    </div>
                  </pinch-zoom>
                </div>
                <div *ngIf="type == 'video'">
                  <!-- <video [src]="smsData.event_image" controls></video> -->
                  <video [src]="modalImage" controls style="width: 100%;"></video>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-card-content>
      </ion-card>

      <!-- <ion-card class="borbot" *ngFor="let smsData of storeSMSDetails">
          <ion-card-content no-padding>
            <div class="message" style="margin-left: 2px solid red;">
              <div class="nameDate">
                <div class="name">{{ smsData.STUDENTNAME }}</div>
              </div>
              <div class="multi_lines_text">
                <pre style="margin: 0; padding: 0; white-space: pre-wrap;"
                  [innerHTML]="authservice.urlify(smsData.Message)" target="_blank">
                </pre>
              </div>
              <div style="clear:both;"></div>
              <div class="openImage" (click)="setOpen(true, smsData.event_image)"
                *ngIf="checkimage(smsData.event_image)">
                <div style="padding-top: 5px"><a (click)="setOpen(true, smsData.event_image)">Click here to open the
                    Image </a>
                </div>
                <img style="padding-top: 5px" class="card-img-top w-100" style="width: 35px; padding-right: 10px;"
                  src="../../assets/imgs/speakers/picture.png" alt="" />
              </div>
              <div>
                <div *ngIf="checkmp3(smsData.event_image)">
                  <audio controls controlsList="noplaybackrate nodownload">
                    <source src="{{ smsData.base64 }}" type="audio/mpeg" *ngIf="smsData.base64.length > 0" />
                    <source src="{{ smsData.event_image }}" type="audio/mpeg" *ngIf="smsData.base64.length === 0" />
                  </audio>
                </div>
                <div *ngIf="checkmp4(smsData.event_image)">
                  <iframe [src]="getSafeUrl(smsData.event_image)" frameborder="0" width="100%" height="100%"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="card-header" *ngIf="checkpdf(smsData.event_image)">
                  <div class="row w-100 align-items-center m-0">
                    <div class="pdf">
                      <div class="col-6" style="padding-top: 10px;">
                        <a (click)="authservice.open(smsData.event_image)"> Click here to open the PDF </a>
                      </div>
                      <div class="col-6 text-right m-0 p-0">

                        <button type="button" (click)="authservice.open(smsData.event_image)">

                          <div class="row w-100 align-items-center">
                            <div class="col-6 w-100 mx-0 px-0" style="padding-right: 10px;">
                              <img class="w-50 m-auto" src="../../assets/imgs/speakers/spdf.png" />
                            </div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-header" *ngIf="checkxls(smsData.event_image)">
                  <div class="row w-100 align-items-center m-0">
                    <div class="xls">
                      <div class="col-6" style="padding-top: 10px;">
                        <a (click)="authservice.open(smsData.event_image)"> Click here to Download the Excel </a>
                      </div>
                      <div class="col-6 text-right m-0 p-0">
                        <button type="button" (click)="authservice.open(smsData.event_image)">
                          <div class="row w-100 align-items-center">
                            <div class="col-6 w-100 mx-0 px-0" style="padding-right: 10px;">
                              <img class="w-50 m-auto" src="../../assets/imgs/Icons_new/Microsoft Excel.png" />
                            </div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dm">

              <ion-avatar class="avatar">
                <img *ngIf="storage.get(smsData.ADNO + 'img')" [src]="storage.get(smsData.ADNO + 'img')" />
                <img *ngIf="!storage.get(smsData.ADNO + 'img')" src="../../assets/imgs/student.png" />
              </ion-avatar>
              <div class="date">{{ smsData.SMSdate | slice: 0 : 6 }}</div>
            </div>


            <div style="clear:both ;"></div>


            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button (click)="setOpen(false, 't')">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <pinch-zoom backgroundColor="rgba(0,0,0,0)">
                    <div>
                      <img class="card-img-top w-100" src="{{ this.modalImage }}" alt="" />
                    </div>
                  </pinch-zoom>
                </ion-content>
              </ng-template>
            </ion-modal>

          </ion-card-content>
        </ion-card> -->

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="scroll">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{scroll}}">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>
  </div>
  <!-- </pinch-zoom> -->
</ion-content>