<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title> Apply Leave</ion-title>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" routerLink="/dashboard" lines="none" detail="false"
        routerLinkActive="selected">
        <ion-icon name="grid" style="height: 24px; width: 24px"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon class="text-white" [ios]="'menu-sharp'"
            [md]="'menu-sharp'"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title> Apply Leave </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="applyLeave">
    <div class="card-body card_body">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <div style="margin-top: 12px">Select Date</div>
        <ion-item lines="full" class="dropdown" style="margin: 0px">
          <ion-label id="open-modal" class="selected-date" *ngIf="select_datas.s_date">
            <span style="float: left">
              {{ formatDate(select_datas.s_date) }}
            </span>

            <span style="float: right !important">
              <img style="height: 6px; width: 10px; margin-right: 5px" src="../../assets/imgs/speakers/Polygon 4.png" />
            </span>
          </ion-label>

          <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event, 'first')" [initialBreakpoint]="0.5"
            [breakpoints]="[0, 0.25, 0.5, 0.75]" animated="true">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="cancel_date()">{{
                      "cancel" | translate
                      }}</ion-button>
                  </ion-buttons>
                  <ion-title>{{ "select_date" | translate }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="confirm_date()" [strong]="true">{{
                      "confirm" | translate
                      }}</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-datetime name="dob" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"
                  [(ngModel)]="select_datas.s_date" #dob="ngModel" presentation="date" mode="md" #datetime
                  (ionChange)="showHideDatePicker()" required>
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>


        <div style="margin-top: 25px">Reason</div>
        <ion-item lines="full" class="messageArea" style="height: 95px">
          <ion-textarea type="text" name="message" [(ngModel)]="select_datas.message" #message="ngModel">
          </ion-textarea>
        </ion-item>

        <div class="p-2 text-right">
          <button type="submit" class="btn btn-primary" style="width: 100%">
            {{ "save" | translate }}
          </button>
        </div>
      </form>
    </div>

  </div>
</ion-content>