<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Your Message</ion-title>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" routerLink="/dashboard" lines="none" detail="false"
        routerLinkActive="selected">
        <ion-icon name="grid" style="height: 24px; width: 24px"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon class="text-white" [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Your Message</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="yourVideos">
    <!-- <app-segment (item)="selected($event)"></app-segment> -->

    <ion-segment class="shadow-lg" [(ngModel)]="selectedSegment" scrollable>
      <ion-segment-button *ngFor="let item of segmentItems" [value]="item" (click)="onSegmentChanged($event, item)"
        class="bg-white">
        <ion-label>{{ item.NAME }} - {{ item.CLASSSEC }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="card-body card_body">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <div style="margin-top: 25px">Enter Message Here</div>
        <ion-item lines="full" class="messageArea" style="height: 95px">
          <ion-textarea type="text" name="message" [(ngModel)]="parentMessage.message" #message="ngModel">
          </ion-textarea>
        </ion-item>

        <div class="row w-100 pt-3 m-0 button-container">
          <div class="attach" *ngIf="parentMessage?.filename.length === 0 && !recording" style="flex: 0 0 150px">
            <img alt="" style="width: 12px; height: 22px" src="../../assets/imgs/speakers/attach.svg" />
            <span style="color: #fff; margin-left: 8px" (click)="open()">Attach Files</span>
          </div>
          <div class="attach1" [ngClass]="{'full-width': recording}" *ngIf="parentMessage?.filename.length === 0">
            <img alt="" style="width: 12px; height: 22px" src="../../assets/imgs/speakers/mic.svg"
              (click)="onStartRecording()" *ngIf="!recording" />
            <span style="color: #fff; margin-left: 8px" *ngIf="!recording" (click)="onStartRecording()">
              Record Audio</span>

            <span style="color: #ff0000; width: 225px;" *ngIf="recording" (click)="onStopRecording()">
              <ion-icon name="stop" style="margin-right: 5px;"></ion-icon>Stop Recording</span>
            <span *ngIf="recording" (click)="onStopRecording()"> - {{
              formatTime(runningTime)
              }}</span>
          </div>
          <div class="col-10" style="padding: 20px;" *ngIf="
              parentMessage?.filename.length > 0 && parentMessage?.type !== 'mp3' && parentMessage?.type !== 'wav'
            ">
            {{ parentMessage.filename }}
          </div>
          <!-- <div class="col-10" *ngIf="
              parentMessage?.filename.length > 0 && (parentMessage?.type === 'mp3' || parentMessage?.type === 'wav')
            "> -->
            <audio controls controlsList="noplaybackrate nodownload" class="w-100" *ngIf="parentMessage?.filename.length > 0 && (parentMessage?.type === 'mp3' || parentMessage?.type === 'wav')">
              <source [src]="audioData.base64" type="audio/mpeg" />
            </audio>
          <!-- </div> -->

          <div class="col-2" *ngIf="parentMessage?.filename.length > 0" style="padding-top: 20px;">
            <button type="button" class="btn btn-danger" (click)="deletefile()" style="font-size: x-large; color: red;">
              <ion-icon [ios]="'trash-sharp'" [md]="'trash-sharp'"></ion-icon>
            </button>
          </div>

          <div class="col-12 text-danger" *ngIf="error">
            only allow jpg, jpeg, png, pdf, mp3, xls, xlsx, wav.
          </div>
        </div>

        <div class="p-2 text-right">
          <button type="submit" class="btn sButton" style="width: 100%">
            {{ "save" | translate }}
          </button>
        </div>


      </form>
    </div>

    <!-- /////////////////////////// -->

    <div class="table-container">
      <div>
        <div class="dateHead">
          <!-- {{ formatDate(parentMessage.s_date) }} -->
          Messages
        </div>
        <table class="table table-bordered" *ngFor="let d of uploadedData; let i = index">
          <tbody>
            <tr>
              <td width="30%">
                <div class="txtCenter">
                  <div>
                    {{ d.name | slice: 0 : 10 }}
                  </div>

                </div>
                <div class="delete-container">
                  <button type="button" class="btn bg-white ml-1" (click)="delete(d.id)">
                    <img src="../../assets/imgs/speakers/delete.svg" />
                  </button>
                </div>
              </td>
              <td width="70%" class="textleft multi_lines_text">
                <span></span>
                <span>{{ d.description }}</span>
                <br *ngIf="d.url && d.url.length > 0" />
                <img alt="" [src]="d.url" class="w-100" *ngIf="checkimage(d.url)" />

                <div *ngIf="checkmp3(d.url)">
                  <audio controls controlsList="noplaybackrate nodownload" class="w-100">
                    <source src="{{ d.url }}" type="audio/mpeg" />
                  </audio>
                </div>

                <div *ngIf="checkmp4(d)">
                  <video [src]="d.url" class="video-player" controls></video>
                </div>

                <div *ngIf="checkxls(d.url)" style="width: 50px;">
                  <img (click)="authservice.open(d.url)" src="../../assets/imgs/speakers/xls.png" alt="url"
                    style="width: 100%; cursor: pointer" />
                </div>
                <div *ngIf="checkdocx(d.url)" style="width: 50px;">
                  <img (click)="authservice.open(d.url)" src="../../assets/imgs/Icons_new/DOC.png" alt="url"
                    style="width: 100%; cursor: pointer" />
                </div>
                <div *ngIf="checkpdf(d.url)" style="width: 50px;">
                  <img (click)="authservice.open(d.url)" src="../../assets/imgs/speakers/pdf.png" alt="url"
                    style="width: 100%; cursor: pointer" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- ////////////////////////// -->

  </div>


</ion-content>