.applyLeave {
    .card_body {
      padding-top: 0px !important;
      margin-left: 5px !important;
      margin-right: 5px !important;
    }
    .card-header {
      padding: 12px !important;
      padding-left: 20px !important;
    }
  }
  .table-cls {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .txtCenter {
    text-align: center;
  }
  .topBg {
    border-bottom: solid 1px rgb(223, 221, 221);
  }
  .dateHead {
    background-color: #4475de;
    border: solid 1px #4475de;
    color: white;
    padding: 5px;
  }
  .bg {
    background-color: #eca2a2;
  }
  .bgg {
    background-color: #9ab4ed;
  }
  .EditColour {
    color: #198754;
  }
  
  .text-black {
    color: black;
    font-size: 18px;
  }
  
  .text-blue {
    color: blue;
    font-size: 18px;
  }
  
  .table-cls {
    // margin-left: 0px !important;
    // margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .txtCenter {
    text-align: center;
  }
  
  .topBg {
    border-bottom: solid 1px rgb(223, 221, 221);
  }
  
  .dateHead {
    background-color: #4475de;
    border: solid 1px #4475de;
    color: white;
    padding: 8px;
  }
  
  .saveButton {
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(17, 0, 255);
    color: white;
  }ion-content {
    --background: #f0f0f0;
  }
  
  .Students {
    margin-top: 5%;
  }
  
  .feeHistory {
    margin-bottom: 25px;
  }
  
  .info-container-main {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    background-color: #5886fe;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .info-container-tot {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 1px;
    border-radius: 5px;
    background-color: #fff;
    color: #606060;
    padding-top: 0.3em;
    height: 2.6em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .info-container-main .info-column,
  .info-container-tot .info-column {
    width: 25%;
  }
  
  .info-container-tot .info-column:first-child {
    color: #5886fe;
  }
  
  .info-container-tot .info-column:not(:first-child) {
    display: inline-block;
    border: 1px solid #5886fe;
    padding: 0;
    border-radius: 5px;
    margin: 5px;
  }
  
  .info-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #606060;
  }
  
  .info-column {
    text-align: center;
    flex: 1;
    padding: 3.5px;
    font-size: 16px;
    padding: 1.1% 0;
    width: 25%;
  }
  
  .info-container .info-column:first-child {
    color: #5886fe;
  }
  
  .feeHistoryT {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #5886fe;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    background-color: #fff;
  }
  
  .left-column-container {
    width: 87%;
    padding: 10px;
  }
  
  .left-column {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 10px 0;
  }
  
  .right-column {
    width: 13%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .receipt {
    color: #606060;
  }
  
  .amount {
    color: #5886fe;
    font-weight: bold;
  }

  .card-container {
    text-align: center;
    margin: 10px 22px;
  }
  hr {
    width: 100%;
    margin: 0.1px 0;
    border: 0.1px;
  }

.color {
  //   background-color: #088d16; /* Sets background color to red */
  color: #fff;

  width: 100%;
  height: 100%;
  //   margin-bottom: 2px;
  height: 48%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
}

.selectStud {
  border: 1px solid gray;
  border-radius: 20px;
  padding-left: 20px;
}